.mat-mdc-form-field {
  margin-top: 16px;
}

.maxWidthFile {
  max-width: 250px;
}
.maxWidthInput {
  max-width: 100px;
}
.minWidthInput{
  min-width: 450px;
}
.minWidthInputNum{
  min-width: 90px;
}
.minWidthSr {
  min-width: 80px;
}

